<div class="wrap-bread-crumb breadcrumb_collection2 banner_abbout">
  <div class="text-center bg-breadcrumb">
    <div class="title-page">

      <h2 class="">{{ page.title }}</h2>

    </div>
    {% include 'breadcrumb' %}
  </div>
</div>
{% schema %}
{
  "name": "Background BreadCrumb",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image BreadCrumb",
      "info": "1920x510px recommended"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
